# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno Virtual
.venv/
venv/
ENV/

# Carpetas de configuración de IDEs
.idea/
.vscode/

# Archivos de datos generados (si aplica)
data/
*.dat

# Reportes de tests
.coverage
.pytest_cache/
htmlcov/
